<html>
<head>
<title>Infinite List Scrolling Effect Demo</title>
<style>
{% include 'css/menu.css' %}
{% include 'css/progressbar.css' %}
</style>
<script>
{% include 'js/progressbar.js' %}
</script>
</head>
<div id="scroll-container">
  <div class="wrap-container" id="wrap-scroll">
    <ul id="ul-scroll">
      {% for drink in drinks %}
      <li><span onclick='pour("{{ drink["key"] }}")' class="item">{{ drink["name"] }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>
<script>
{% include 'js/menu.js' %}
</script>
<div id="Progress_Status" hidden> 
  <div id="myprogressBar"></div> 
</div> 
</body>
</html>
